# Biblioteca pandas
La biblioteca pandas permite la manipulación de tablas de datos. Tiene dos estructuras fundamentales:
- DataFrame.
- Series.

La documentación oficial puede se consultada en https://pandas.pydata.org/
Para importar la biblioteca usualmente se utiliza:

import pandas as pd.

In [2]:
#Importando pandas con el alias pd
import pandas as pd

## DataFrame
Un DataFrame es básicamente una tabla. Contiene un arreglo de valores individuales (entradas), se puede pensar en ella
como una matriz.

In [3]:
pd.DataFrame({'Sí':[2,3], 'No':[50,15]} )

   Sí  No
0   2  50
1   3  15

In [4]:
pd.DataFrame({'Rodrigo':['Barcelona', 'Real Madrid'], 'Eva':['Napoli', 'PSG']})

       Rodrigo     Eva
0    Barcelona  Napoli
1  Real Madrid     PSG

In [5]:
pd.DataFrame({'Rodrigo':['Barcelona', 'Real Madrid'], 'Eva':['Napoli', 'PSG']}, index=['Quiniela 1', 'Quiniela 2'])

                Rodrigo     Eva
Quiniela 1    Barcelona  Napoli
Quiniela 2  Real Madrid     PSG

## Series
Se puede pensar en una serie como en una lista.

In [6]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

Una series es, en esencia, una sola columna de un DataFrame.

In [7]:
pd.Series([30, 35, 40], index=['2015', '2016', '2017'], name='Año')

2015    30
2016    35
2017    40
Name: Año, dtype: int64

## Leer archivos de datos
Hacemos uso de las funciones de Pandas:
- read_csv
- read_excel
- read_spss

### Textos planos
Ir a la página datos.minfin.gob.gt y descargar base de datos en CSV.
(https://datos.minfin.gob.gt/dataset/00ac0df6-be04-4cd7-b1c6-cd8af7c3d73e/resource/03b9e66d-dd68-4a41-802c-6c664ef6d634/download/ejecucion-presupuesto-egresos-gobierno-central.csv.txt).
Luego leeremos esa base de datos.

In [8]:
ejecucion = pd.read_csv("/home/hugog/GitHub/ML-USAC/data/ejecucion-presupuesto-egresos-gobierno-central.csv",
                        sep="\t",
                        encoding = "ISO-8859-1")

/tmp/ipykernel_245231/1008096186.py:1: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  ejecucion = pd.read_csv("/home/hugog/GitHub/ML-USAC/data/ejecucion-presupuesto-egresos-gobierno-central.csv",

In [9]:
ejecucion.head(10)

,Id,Ejercicio,CodigoEntidad,Entidad,CodigoUnidadEjecutora,UnidadEjecutora,CodigoPrograma,Programa,CodigoSubProg,SubPrograma,...,CodigoOrganismo,Organismo,Correlativo,Asignado,Modificado,Vigente,PreComprometido,Comprometido,Devengado,Pagado
0,1,2021,11130004,MINISTERIO DE RELACIONES EXTERIORES,0,MINISTERIO DE RELACIONES EXTERIORES,11,SERVICIOS CONSULARES Y DE ATENCIÓN AL MIGRANTE,0,SIN SUBPROGRAMA,...,0,SIN ORGANISMO,0,26400.0,4763.0,31163.0,0.0,29355.96,29355.96,29355.96
1,2,2021,11130004,MINISTERIO DE RELACIONES EXTERIORES,0,MINISTERIO DE RELACIONES EXTERIORES,11,SERVICIOS CONSULARES Y DE ATENCIÓN AL MIGRANTE,0,SIN SUBPROGRAMA,...,0,SIN ORGANISMO,0,1810188.0,1098257.0,2908445.0,0.0,2907482.86,2907482.86,2907482.86
2,3,2021,11130004,MINISTERIO DE RELACIONES EXTERIORES,0,MINISTERIO DE RELACIONES EXTERIORES,11,SERVICIOS CONSULARES Y DE ATENCIÓN AL MIGRANTE,0,SIN SUBPROGRAMA,...,0,SIN ORGANISMO,0,445537.0,89200.0,534737.0,0.0,529575.37,529575.37,529575.37
3,4,2021,11130004,MINISTERIO DE RELACIONES EXTERIORES,0,MINISTERIO DE RELACIONES EXTERIORES,11,SERVICIOS CONSULARES Y DE ATENCIÓN AL MIGRANTE,0,SIN SUBPROGRAMA,...,0,SIN ORGANISMO,0,445537.0,133846.0,579383.0,0.0,541093.82,541093.82,541093.82
4,5,2021,11130004,MINISTERIO DE RELACIONES EXTERIORES,0,MINISTERIO DE RELACIONES EXTERIORES,11,SERVICIOS CONSULARES Y DE ATENCIÓN AL MIGRANTE,0,SIN SUBPROGRAMA,...,0,SIN ORGANISMO,0,37092048.0,15370539.0,52462587.0,0.0,52398710.32,52398710.32,52398710.32
5,6,2021,11130004,MINISTERIO DE RELACIONES EXTERIORES,0,MINISTERIO DE RELACIONES EXTERIORES,11,SERVICIOS CONSULARES Y DE ATENCIÓN AL MIGRANTE,0,SIN SUBPROGRAMA,...,0,SIN ORGANISMO,0,29760.0,18330.0,48090.0,0.0,47574.31,47574.31,47574.31
6,7,2021,11130004,MINISTERIO DE RELACIONES EXTERIORES,0,MINISTERIO DE RELACIONES EXTERIORES,11,SERVICIOS CONSULARES Y DE ATENCIÓN AL MIGRANTE,0,SIN SUBPROGRAMA,...,0,SIN ORGANISMO,0,18000.0,31582.0,49582.0,0.0,49281.21,49281.21,49281.21
7,8,2021,11130004,MINISTERIO DE RELACIONES EXTERIORES,0,MINISTERIO DE RELACIONES EXTERIORES,11,SERVICIOS CONSULARES Y DE ATENCIÓN AL MIGRANTE,0,SIN SUBPROGRAMA,...,0,SIN ORGANISMO,0,3488496.0,34569.0,3523065.0,0.0,3522582.98,3522582.98,3522582.98
8,9,2021,11130004,MINISTERIO DE RELACIONES EXTERIORES,0,MINISTERIO DE RELACIONES EXTERIORES,11,SERVICIOS CONSULARES Y DE ATENCIÓN AL MIGRANTE,0,SIN SUBPROGRAMA,...,0,SIN ORGANISMO,0,396000.0,2312.0,398312.0,0.0,397411.97,397411.97,397411.97
9,10,2021,11130004,MINISTERIO DE RELACIONES EXTERIORES,0,MINISTERIO DE RELACIONES EXTERIORES,11,SERVICIOS CONSULARES Y DE ATENCIÓN AL MIGRANTE,0,SIN SUBPROGRAMA,...,0,SIN ORGANISMO,0,484200.0,49392.0,533592.0,0.0,533096.10,533096.10,533096.10

### Archivos excel
Para leer archivos excel se suele utilizar la funcion read_excel. En algunos casos es necesario primer instalar
la biblioteca pyxlsx.

In [10]:
pd.read_excel("/home/hugog/GitHub/ML-USAC/data/ejecucion-presupuesto-egresos-gobierno-central.xlsx")

,Id,Ejercicio,CodigoEntidad,Entidad,CodigoUnidadEjecutora,UnidadEjecutora,CodigoPrograma,Programa,CodigoSubProg,SubPrograma,...,CodigoOrganismo,Organismo,Correlativo,Asignado,Modificado,Vigente,PreComprometido,Comprometido,Devengado,Pagado
0,1,2021,11130004,MINISTERIO DE RELACIONES EXTERIORES,0,MINISTERIO DE RELACIONES EXTERIORES,11,SERVICIOS CONSULARES Y DE ATENCIÓN AL MIGRANTE,0,SIN SUBPROGRAMA,...,0,SIN ORGANISMO,0,26400,4763.0,31163.0,0.0,29355.96,29355.96,29355.96
1,2,2021,11130004,MINISTERIO DE RELACIONES EXTERIORES,0,MINISTERIO DE RELACIONES EXTERIORES,11,SERVICIOS CONSULARES Y DE ATENCIÓN AL MIGRANTE,0,SIN SUBPROGRAMA,...,0,SIN ORGANISMO,0,1810188,1098257.0,2908445.0,0.0,2907482.86,2907482.86,2907482.86
2,3,2021,11130004,MINISTERIO DE RELACIONES EXTERIORES,0,MINISTERIO DE RELACIONES EXTERIORES,11,SERVICIOS CONSULARES Y DE ATENCIÓN AL MIGRANTE,0,SIN SUBPROGRAMA,...,0,SIN ORGANISMO,0,445537,89200.0,534737.0,0.0,529575.37,529575.37,529575.37
3,4,2021,11130004,MINISTERIO DE RELACIONES EXTERIORES,0,MINISTERIO DE RELACIONES EXTERIORES,11,SERVICIOS CONSULARES Y DE ATENCIÓN AL MIGRANTE,0,SIN SUBPROGRAMA,...,0,SIN ORGANISMO,0,445537,133846.0,579383.0,0.0,541093.82,541093.82,541093.82
4,5,2021,11130004,MINISTERIO DE RELACIONES EXTERIORES,0,MINISTERIO DE RELACIONES EXTERIORES,11,SERVICIOS CONSULARES Y DE ATENCIÓN AL MIGRANTE,0,SIN SUBPROGRAMA,...,0,SIN ORGANISMO,0,37092048,15370539.0,52462587.0,0.0,52398710.32,52398710.32,52398710.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161224,161225,2021,11130012,"MINISTERIO DE AGRICULTURA, GANADERÍA Y ALIMENT...",208,VICEMINISTERIO DE ASUNTOS DE PETÉN,13,APOYO A LA PRODUCTIVIDAD Y COMPETITIVIDAD AGRO...,0,SIN SUBPROGRAMA,...,0,SIN ORGANISMO,0,0,1152.0,1152.0,0.0,1152.00,1152.00,1152.00
161225,161226,2021,11130012,"MINISTERIO DE AGRICULTURA, GANADERÍA Y ALIMENT...",208,VICEMINISTERIO DE ASUNTOS DE PETÉN,13,APOYO A LA PRODUCTIVIDAD Y COMPETITIVIDAD AGRO...,0,SIN SUBPROGRAMA,...,0,SIN ORGANISMO,0,0,76555.0,76555.0,0.0,76555.00,76555.00,76555.00
161226,161227,2021,11130012,"MINISTERIO DE AGRICULTURA, GANADERÍA Y ALIMENT...",208,VICEMINISTERIO DE ASUNTOS DE PETÉN,13,APOYO A LA PRODUCTIVIDAD Y COMPETITIVIDAD AGRO...,0,SIN SUBPROGRAMA,...,0,SIN ORGANISMO,0,0,117800.0,117800.0,0.0,111662.00,111662.00,111662.00
161227,161228,2021,11130012,"MINISTERIO DE AGRICULTURA, GANADERÍA Y ALIMENT...",208,VICEMINISTERIO DE ASUNTOS DE PETÉN,13,APOYO A LA PRODUCTIVIDAD Y COMPETITIVIDAD AGRO...,0,SIN SUBPROGRAMA,...,0,SIN ORGANISMO,0,0,36000.0,36000.0,0.0,36000.00,36000.00,36000.00
161228,161229,2021,11130012,"MINISTERIO DE AGRICULTURA, GANADERÍA Y ALIMENT...",208,VICEMINISTERIO DE ASUNTOS DE PETÉN,13,APOYO A LA PRODUCTIVIDAD Y COMPETITIVIDAD AGRO...,0,SIN SUBPROGRAMA,...,0,SIN ORGANISMO,0,0,24000.0,24000.0,0.0,23900.00,23900.00,23900.00

### Archivos sav
Para leer archivos sav (típicos de SPSS), podemos utilizar la función read_spss. Es necesario instalar la biblioteca
pyreadstat.

In [11]:
enei = pd.read_spss("/home/hugog/GitHub/ML-USAC/data/enei_personas_2021.sav")

In [12]:
enei.head()

,DOMINIO,AREA,UPM,FACTOR,NUM_HOGAR,ID,PPA02,PPA03,PPA05,PPA06,...,P05A21A,P05A22A,P05A22B,PET,PEA,OCUPADOS,DESOCUPADOS,SUBVISIBLES,INACTIVOS,FORMAL_INFORMAL
0,Urbano Metropolitano,Urbana,26.0,295.0,1.0,1.0,Mujer,43.0,Jefe(a) del hogar?,Ladino,...,NaN,No,NaN,Población en edad de trabajar,Población económicamente activa,Población ocupada,NaN,NaN,NaN,Formal
1,Urbano Metropolitano,Urbana,26.0,295.0,1.0,2.0,Hombre,20.0,Hijo(a)?,Ladino,...,NaN,NaN,NaN,Población en edad de trabajar,Población económicamente activa,Población ocupada,NaN,NaN,NaN,Formal
2,Urbano Metropolitano,Urbana,26.0,295.0,1.0,3.0,Mujer,16.0,Hijo(a)?,Ladino,...,NaN,NaN,NaN,Población en edad de trabajar,NaN,NaN,NaN,NaN,Población económicamente inactiva,NaN
3,Urbano Metropolitano,Urbana,26.0,295.0,1.0,4.0,Mujer,14.0,Hijo(a)?,Ladino,...,NaN,NaN,NaN,Población en edad de trabajar,NaN,NaN,NaN,NaN,Población económicamente inactiva,NaN
4,Urbano Metropolitano,Urbana,26.0,295.0,2.0,1.0,Hombre,69.0,Jefe(a) del hogar?,Ladino,...,NaN,Si,1500.0,Población en edad de trabajar,NaN,NaN,NaN,NaN,Población económicamente inactiva,NaN

In [13]:
enei.describe()

,UPM,FACTOR,NUM_HOGAR,ID,PPA03,PPA10B,PPA11,P03A04B,P03A05B,P03D02B,...,P05A12B,P05A13B,P05A14B,P05A15A,P05A15B,P05A16B,P05A18B,P05A19B,P05A20B,P05A22B
count,24319.000000,24319.000000,24319.000000,24319.000000,24319.000000,12474.000000,9939.000000,5504.000000,17740.000000,14224.000000,...,62.000000,4.000000,636.000000,21140.0,0.0,65.000000,737.000000,737.000000,737.000000,1766.000000
mean,11115.308812,707.559069,2982.570213,3.105350,29.185822,2.169954,2.306570,3.212028,4.037542,1.012795,...,45808.790323,45862.500000,2626.533019,2.0,NaN,4675.076923,1536.781547,1437.489824,1578.028494,213.088335
std,7569.354356,445.717748,1649.510854,2.014403,20.647820,1.306715,2.599265,1.644465,1.715339,0.118485,...,114283.601131,89426.369853,20262.246138,0.0,NaN,7069.357539,2396.695239,2258.447998,2374.471869,333.937607
min,26.000000,64.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,...,75.000000,450.000000,30.000000,2.0,NaN,60.000000,0.000000,0.000000,0.000000,2.000000
25%,4337.000000,375.000000,1573.000000,2.000000,12.000000,2.000000,0.000000,2.000000,3.000000,1.000000,...,1500.000000,1237.500000,300.000000,2.0,NaN,450.000000,400.000000,350.000000,500.000000,100.000000
50%,10274.000000,535.000000,3059.000000,3.000000,25.000000,2.000000,2.000000,3.000000,4.000000,1.000000,...,12500.000000,1500.000000,700.000000,2.0,NaN,2200.000000,1000.000000,860.000000,1000.000000,125.000000
75%,17634.000000,998.000000,4395.000000,4.000000,43.000000,2.000000,3.000000,5.000000,6.000000,1.000000,...,40000.000000,46125.000000,1400.000000,2.0,NaN,6000.000000,1875.000000,1800.000000,2000.000000,200.000000
max,25671.000000,2806.000000,5791.000000,22.000000,97.000000,19.000000,18.000000,6.000000,6.000000,4.000000,...,750000.000000,180000.000000,480000.000000,2.0,NaN,45000.000000,30000.000000,28000.000000,25100.000000,7000.000000

### Funciones de resumen
De la base de datos de ENEI, tomamos la variable de "Otros ingresos" y la utilizamos para análisis.

In [44]:
#enei["P05A16A"].describe()
enei["P05A16B"].describe()

count       65.000000
mean      4675.076923
std       7069.357539
min         60.000000
25%        450.000000
50%       2200.000000
75%       6000.000000
max      45000.000000
Name: P05A16B, dtype: float64

In [45]:
#Calcular solo la media
enei.P05A16B.mean()

4675.076923076923

In [19]:
#Ver los niveles de una variable categórica
enei["P05A16A"].unique()

['No', NaN, 'Si']
Categories (2, object): ['No', 'Si']

In [20]:
#Para las frecuencias
enei["P05A16A"].value_counts()

No    21075
Si       65
Name: P05A16A, dtype: int64

### Maps
Los mapas es un término tomado de las matemáticas. Es igual que las funciones que toma valores y los "mapea".

In [24]:
promedio_otros_ingresos = enei["P05A16B"].mean()
enei["P05A16B"].map(lambda i: i - promedio_otros_ingresos)

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
24314   NaN
24315   NaN
24316   NaN
24317   NaN
24318   NaN
Name: P05A16B, Length: 24319, dtype: float64

In [30]:
#Mismo efecto con apply
def remean(row):
    row.P05A16B = row.P05A16B - promedio_otros_ingresos
    return row
enei.apply(remean,axis="columns")

,DOMINIO,AREA,UPM,FACTOR,NUM_HOGAR,ID,PPA02,PPA03,PPA05,PPA06,...,P05A21A,P05A22A,P05A22B,PET,PEA,OCUPADOS,DESOCUPADOS,SUBVISIBLES,INACTIVOS,FORMAL_INFORMAL
0,Urbano Metropolitano,Urbana,26.0,295.0,1.0,1.0,Mujer,43.0,Jefe(a) del hogar?,Ladino,...,NaN,No,NaN,Población en edad de trabajar,Población económicamente activa,Población ocupada,NaN,NaN,NaN,Formal
1,Urbano Metropolitano,Urbana,26.0,295.0,1.0,2.0,Hombre,20.0,Hijo(a)?,Ladino,...,NaN,NaN,NaN,Población en edad de trabajar,Población económicamente activa,Población ocupada,NaN,NaN,NaN,Formal
2,Urbano Metropolitano,Urbana,26.0,295.0,1.0,3.0,Mujer,16.0,Hijo(a)?,Ladino,...,NaN,NaN,NaN,Población en edad de trabajar,NaN,NaN,NaN,NaN,Población económicamente inactiva,NaN
3,Urbano Metropolitano,Urbana,26.0,295.0,1.0,4.0,Mujer,14.0,Hijo(a)?,Ladino,...,NaN,NaN,NaN,Población en edad de trabajar,NaN,NaN,NaN,NaN,Población económicamente inactiva,NaN
4,Urbano Metropolitano,Urbana,26.0,295.0,2.0,1.0,Hombre,69.0,Jefe(a) del hogar?,Ladino,...,NaN,Si,1500.0,Población en edad de trabajar,NaN,NaN,NaN,NaN,Población económicamente inactiva,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24314,Rural Nacional,Rural,25671.0,797.0,5790.0,3.0,Mujer,18.0,Hijo(a)?,Ladino,...,NaN,NaN,NaN,Población en edad de trabajar,NaN,NaN,NaN,NaN,Población económicamente inactiva,NaN
24315,Rural Nacional,Rural,25671.0,797.0,5790.0,4.0,Hombre,11.0,Hijo(a)?,Ladino,...,NaN,NaN,NaN,Población en edad de trabajar,NaN,NaN,NaN,NaN,Población económicamente inactiva,NaN
24316,Rural Nacional,Rural,25671.0,797.0,5791.0,1.0,Hombre,85.0,Jefe(a) del hogar?,Ladino,...,NaN,Si,200.0,Población en edad de trabajar,Población económicamente activa,Población ocupada,NaN,NaN,NaN,Informal
24317,Rural Nacional,Rural,25671.0,797.0,5791.0,2.0,Mujer,58.0,Esposo(a) o compañero(a)?,Ladino,...,NaN,NaN,NaN,Población en edad de trabajar,NaN,NaN,NaN,NaN,Población económicamente inactiva,NaN
24318,Rural Nacional,Rural,25671.0,797.0,5791.0,3.0,Hombre,23.0,Hijo(a)?,Ladino,...,NaN,NaN,NaN,Población en edad de trabajar,Población económicamente activa,Población ocupada,NaN,Población en subempleos visible,NaN,Informal

### Agrupamientos
Es útil en algunas ocasiones hacer análisis agrupando según alguna variable.
En este caso hacemos las pruebas con la variable DOMINIO.

In [31]:
enei.groupby(['DOMINIO']).P05A16A.count()

DOMINIO
Resto Urbano            7251
Rural Nacional          7416
Urbano Metropolitano    6473
Name: P05A16A, dtype: int64

In [32]:
#Cálculo del mínimo
enei.groupby('DOMINIO').P05A16B.min()

DOMINIO
Resto Urbano            100.0
Rural Nacional           60.0
Urbano Metropolitano    200.0
Name: P05A16B, dtype: float64

In [46]:
#Se puede utilizar el apply con el groupby
enei.groupby("DOMINIO").apply(lambda df:df.AREA.iloc[0])

DOMINIO
Resto Urbano            Urbana
Rural Nacional           Rural
Urbano Metropolitano    Urbana
dtype: object

In [34]:
#Función agg permite utilizar varias funciones de resumen al mismo tiempo
enei.groupby(['DOMINIO','AREA']).P05A16B.agg([len,min,max])

                                len    min      max
DOMINIO              AREA
Resto Urbano         Rural      NaN    NaN      NaN
                     Urbana  8267.0  100.0  45000.0
Rural Nacional       Rural   8845.0   60.0  13000.0
                     Urbana     NaN    NaN      NaN
Urbano Metropolitano Rural      NaN    NaN      NaN
                     Urbana  7207.0  200.0  18000.0

### Tipos de datos y valores perdidos
El tipo de dato en una serie de dataframe se guarda en el atributo dtype.

In [36]:
enei.P05A16B.dtype

dtype('float64')

In [37]:
enei.dtypes

DOMINIO            category
AREA               category
UPM                 float64
FACTOR              float64
NUM_HOGAR           float64
                     ...
OCUPADOS           category
DESOCUPADOS        category
SUBVISIBLES        category
INACTIVOS          category
FORMAL_INFORMAL    category
Length: 261, dtype: object

In [50]:
#Valores perdidos
enei[pd.isnull(enei.P05A16B)].shape

(24254, 261)